* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-bg {
  background-color: #1f2937;
  padding: 25px 0 120px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  font-size: 18px;
}

.logo-container {
  font-size: 24px;
}
.logo-container a {
  color: #f9faf8;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 4px;
  color: #f9faf8;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 20px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 28px;
}

.hero-sign-up:link,
.hero-sign-up:visited {
  background-color: #3882f6;
  transition: all 0.3s;
}

.hero-sign-up:hover,
.hero-sign-up:active {
  background-color: #4b8df6;
}

.hero-image {
  max-width: 90%;
  border-radius: 7px;
  height: auto;
}

.hero-heading-container {
  flex: 1;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center; /* this centers the image inside */
  align-items: center;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 40px 0;
}

.info-section {
  padding-bottom: 80px;
}

.photos-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18%;
}

.card-image {
  max-width: 100%;
}

.card-image {
  border-radius: 7px;
  aspect-ratio: 1 / 1;
}

.card-text {
  color: #1f2937;
  font-size: 18px;
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 100px 0 70px;
}

figure {
  margin: 0 auto;
  max-width: 41%;
}

figcaption {
  color: #1f2937;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  padding-right: 35px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}
