* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: #e5e7eb;
}

header {
  background-color: #1f2937;
  padding: 25px 450px;
  padding-bottom: 120px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 18px;
}

.logo-container {
  font-size: 24px;
}
.logo-container a {
  color: #f9faf8;
}

.hero-container {
  padding: 0 450px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 4px;
  color: #f9faf8;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 20px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 28px;
}

.hero-sign-up:link,
.hero-sign-up:visited {
  background-color: #3882f6;
  transition: all 0.3s;
}

.hero-sign-up:hover,
.hero-sign-up:active {
  background-color: #4b8df6;
}

.hero-image {
  max-width: 90%;
  height: auto;
}

.hero-heading-container {
  flex: 1;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center; /* this centers the image inside */
  align-items: center;
}
